/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** Styles */

body {
    font-size: 12px;
    line-height: 18px;
    color: #666;
    background: transparent;
    font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
}

.wrapper {
    width: 960px;
    margin: 40px auto;
    padding: 24px;
}

h3 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #444;
}

/** Contact Form **/

#contact-wrapper {
    position: relative;
    display: block;
}

.form-wrapper {
    float: left;
    width: 550px;
    position: relative;
}

.address-wrapper {
    float: left;
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;
    color: #999;
    background: transparent;
    margin-top: 60px;
}


#contact-wrapper h2 {
    font-size: 30px;
    line-height: 1.2;
    margin: 9px 0;
    letter-spacing: -1px;
    color: #333;
}

#contact-wrapper h2.success {
    color: #5791fc;
}

p.success {
    font-size: 16px;
    color: #666;
}




.submit input{
	float: right;
    padding: 6px 3px;
    height: 36px;
    cursor: pointer;
    width: 96px;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    background: transparent;
    border: 1px solid #666;
    color:#444;
}


/** Form Styles **/
input, textarea, select {
    font: 16px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
    width: 340px;
    padding: 8px 6px;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 1px #444444;
    border: 1px solid #666;
    outline: none;
    display: inline-block;
    position: relative;
    z-index: 2;
    background: transparent;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

input {
    height: 16px;
}

select {
    width: 350px;
    padding: 6px 6px;
}

textarea {
    width: 340px;
    overflow: hidden;
    background: transparent;

}

input:focus, textarea:focus, select:focus {
    -webkit-box-shadow: 0px 0px 5px #007eff;
    -moz-box-shadow: 0px 0px 5px #007eff;
    box-shadow: 0px 0px 5px #007eff;
}



.field {
    margin: 10px 0;
    position: relative;
    width: 490px;
}

label {
    display: block;
    width: 112px;
    padding-right: 24px;
    float: left;
    color: #666;
    text-align: right;
    font: 16px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
}

.error, .tooltip {
    height: 16px;
    width: 178px;
    background-color: #999999;
    border: 1px solid #666666;
    font: 11px/16px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
    color: #801B1B;
    padding: 8px 10px 8px 10px;
    margin-left: -2px;
    border-radius: 0 1px 1px 0;
    -moz-border-radius: 0 1px 1px 0;
    -webkit-border-radius: 0 1px 1px 0;
    -moz-box-shadow: 0 0 2px #666;
    -webkit-box-shadow: 0 0 2px #666;
    z-index: 9999;
}

.tooltip {
    background: transparent;
    border-color: #666666;
    color: #666;
}

.overlay {
    display: none;
    z-index: 10000;
    background-color: #000;
    width: 912px;
    padding: 24px;
    min-height: 200px;
    border: 1px solid #666;
    background: transparent;
    border: 1px solid #666666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px #ddd;
    -moz-box-shadow: 0px 1px 4px #ddd;
}


.overlay .close:before {
    content: 'X';
}

.overlay .close {
    background: #eee;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border: 1px solid #AAAAAA;
    cursor: pointer;
    height: 23px;
    padding-top: 5px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -15px;
    width: 29px;
}

#exposeMask{
    position:fixed !important;
}


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}



.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
    zoom: 1;
}